<div>
  <h1 class="jumbotron"
  style="margin-top: 0%; text-align: center; font-size: 150px;">How To?</h1>
</div>
<div>
  <h1 style="margin-left: 2%">How to use MentalBot:</h1>
  <ol>
    <h4 style="margin-left: 2%">
      <li style="padding-bottom: 1%;">After you've clicked on the launch button, you are going to
        want to take off glasses or anything that is on the front of your face.
        <ul style="padding-top: 1%;">
          <li>(If you have used MentalBot you can skip this help section)</li>
        </ul>
      </li>
      <li style="padding-bottom: 1%;">
        If this is your first time using MentalBot you are going to need to
        calibrate it to your facial expressions, so you will want to look at the camera.
      </li>
      <li style="padding-bottom: 1%;">
        When on the MentalBot page, press calibrate in the top right of the screen.
      </li>
      <li style="padding-bottom: 1%;">
        When calibrating, you will want to look at the camera on your device and make the expression that is highlighted (for example, if sad is
        highlighted you will want to have a sad expression) and then press "Start Calibration".
      </li>
      <li style="padding-bottom: 1%;">
        Continue Step 4 until all the expressions have been finished.
      </li>
      <li style="padding-bottom: 2%;">
        Once you have calibrated all expressions, you can click "Launch MentalBot"!
      </li>
    </h4>
  </ol>
</div>
<div>
  <a href="#/home" class="btn btn-lg btn-info"
  style="float: left; margin-left: 30%">Go Back</a>
  <a href="#/mentalBot" class="btn btn-lg btn-info"
  style="float: right; margin-right: 30%">Launch MentalBot</a>
</div>
