<div class="jubmotron">
  <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333">
    <li style="float: right; padding-right: 1.25%; font-size: 30px;"><a href="#/help" style="display: block; color: white; text-align: center; text-decoration: none; padding: 14px 16px;">
      How To?</a></li>
  </ul>
</div>
<div class="jumbotron">
  <h1 style="text-align: center;">Welcome!</h1>
  <img src="/../images/MentalBot.png" alt="MentalBot" style="margin-left: auto; margin-right: auto; width: 25%; display: block;">
</div>
<div>
  <h1 style="text-align: center;">About MentalBot</h1>
  <h3 style="padding-left: 10%; padding-right: 10%; text-align: center;">MentalBot is an AI creation that is able to utilize the camera on your device to see what expressions you are making.
  If you are sad, MentalBot will be able to notice that you are making a sad expression. If you are happy, MentalBot will notice that and celebrate with you!
  MentalBot grows over time, as you calibrate it it is able to pick up on the facial expressions being made in a more efficient manner.
  To learn how MentalBot works, press the "How To?" button in the top right corner of your screen, or if you have used MentalBot before click launch and say hi to MentalBot!</h3>
</div>
<div>
  <a href="#/mentalBot" class="btn btn-lg btn-info" 
  style="display: block; margin-left: auto; margin-right: auto; margin-top: 3%; margin-bottom: 4%; width: 150px;">Launch</a>
</div>
