<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="id=edge">
  <title>MentalBot How To?</title>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
  <div>
    <h1 class="jumbotron"
    style="margin-top: 0%; text-align: center; font-size: 150px;">How To?</h1>
  </div>
  <div>
    <h1 style="margin-left: 2%">How to use MentalBot:</h1>
    <ol>
      <h4 style="margin-left: 2%">
        <li style="padding-bottom: 1%;">After you've clicked on the launch button, you are going to
          want to take off glasses or anything that is on the front of your face
          <ul style="padding-top: 1%;">
            <li>(If you have used MentalBot before skip to step ...)</li>
          </ul>
        </li>
        <li style="padding-bottom: 1%;">
          If this is your first time using MentalBot you are going to need to
          calibrate it to your facial expressions, so you will want to look at the camera
        </li>
        <li style="padding-bottom: 1%;">
          Whichever section is highlighted (sad, happy, angry, etc) make that
          facial expression and press "Start Calibration". You will do this for all the expressions
        </li>
        <li>
          Once you finish calibrating, you can then press "Go to MentalBot"!
        </li>
      </h4>
    </ol>
  </div>
  <div>
    <button type="button" name="backButton" class="btn btn-lg"
    style="float: left; margin-left: 30%">Go Back</button>
    <button type="button" name="launchMentalBot" class="btn btn-lg"
    style="float: right; margin-right: 30%">Launch MentalBot</button>
  </div>
  <div>
    <button type="button" name="calibrate" class="btn btn-lg">Calibrate</button>
  </div>
</body>
</html>
