<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MentalBot</title>

</head>
<body>

  <div class="container center">
    <video class="video" id="video" autoplay="" playsinline=""></video>

    <div id="b_container">
      <button id="button1">Happy</button>
      <button id="button2">Sad</button>
      <button id="button3">Angry</button>
    </div>
    <div id="d_container">
    
    </div>
  </div>

</body>
</html>
